{% for item in collections.sections %}
  {% if item.data.type === 'header' %}
    <div class="header">
      <div class="header-image">Logo</div>
      {{ item.templateContent | safe }}
    </div>
  {% endif %}
{% endfor %}


