{% for item in collections.sections %}
  {% if item.data.type === 'section-two' %}
  {{ item.templateContent | safe }}
    <div class="card-section">
      {% for card in item.data.cards %}
        <div class="card">
          <div class="title">
            {{ card.title | safe }}
          </div>
          <img class="image" src="{{ card.image }}"/>
          <div class="status">
            <span>+ +</span>
            {{ card.status | safe }}
          </div>
          <div class="description">
            {{ card.description | safe }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}