{% for item in collections.sections %}
  {% if item.data.type === 'test' %}
    {{ item.templateContent | safe }}
    {% for i in range(1, item.data.fireflyQuantity) %}
      <div class="firefly"></div>
    {% endfor %}
  {% endif %}
{% endfor %}


