{% for item in collections.sections %}
  {% if item.data.type === 'header' %}
    <div class="header">
      <img class="image" src="assets/images/logo-transparente.png"/>
      {{ item.templateContent | safe }}
      {% include "section.countdown.njk" %}
    </div>
  {% endif %}
{% endfor %}


