.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 
.card-section {
    display: flex;
    flex-direction: row;
    row-gap: 4rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-evenly;
    margin: 2rem;
}

.card:hover,
.card:active {
    transform: rotate(5deg);
}

.card {
    background-color: #2a374f;
    box-shadow: 0.2rem 0.2rem 0.4rem 0.4rem rgba(145, 107, 55, 0.2);
    border: 0.350rem solid #c9a66b;
    border-radius: 0.350rem;
    width: calc(30% - 10px - 1px);
    flex-grow: 1;
    z-index: 10000; //firefly overlap
    transition: transform 0.5s ease;

    .title {
        font-size: 1.6rem;
        text-align: start;
        font-weight: bold;
        background-color: #2a374f;
        padding: 1rem;
    }

    .image {
        border-top: 0.2rem solid #c9a66b;
        border-bottom: 0.2rem solid #c9a66b;
        width: 100%;
    }

    .status {
        font-size: 1.5rem;
        text-align: end;
        color: #c9a66b;
        display: inline-flex;
        justify-content: end;
        column-gap: 0.650rem;
        align-items: center;
        width: 90%;
        padding-top: 0.5rem;

        img {
            width: 30%;
        }

        .status-text {
            padding-top: 0.250rem;
            font-size: 1.3rem;
        }
    }
        
    .description {
        padding: 1rem 2rem;
        background-color: #2a374f;
        font-size: 1.3rem;
    }
}
