@font-face {
  font-family: 'KC Obra Letra';
  src: url('../fonts/KCObraLetraRegular.woff2') format('woff2'),
      url('../fonts/KCObraLetraRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KC Obra Letra';
  src: url('../fonts/KCObraLetraBold.woff2') format('woff2'),
      url('../fonts/KCObraLetraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}