.footer {
    background-color: #2a374f;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    bottom: 0;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            width: 20%;
        
            a {
                text-decoration: none;
                color: #ffffff !important;
            }

            &:first-child {
                padding-top: 0.350rem;
            }
        }
    }
    
}
