@media only screen and (max-width: 800px) {
    body {
        background-size: contain;
    }


    h1 {
        font-size: 2.3rem;
    }

    .header {
        h1 {
            margin: 1.5rem;
        }

        .image {
           width: 80%
       }
    }

    #countdown-container {
        margin: 1rem 0rem;
    }

    .section-one {
        .banner-section {
            row-gap: 1.5rem;
            width: 90%;
        }

        .banner-column {
            width: 100%;
            justify-content: center;

            #liga-pokemon {
                margin-top: 2rem;
                margin-left: -0.5rem;
            }

            .banner-link-loja-row {
                width: 100%;
            }

            #pokebola-section {
                width: 85%;

                .pokebola-row {
                    padding: 1rem 0rem 0.5rem 0rem;

                    img {
                        width: 10%;
                    }
                }
            }
        }

        #banner-cards {
            margin-left: -15rem;
        }
    }

    .card {
        width: 100%;
    }

    .contato {
        .maps-section {
            width: 77%;
        }

        .maps {
            vertical-align: middle;
            padding-bottom: 2rem;
            display: contents;
            
            iframe {
                width: 100% !important;
                border-bottom: 0.2rem solid #c9a66b !important;
            }
        }

        .maps iframe {
            top: 0;
            left: 0;
            width: 80%;
            height: 100%;
            border: 0;
        }

        div:nth-child(2) {
            padding-top: 2rem;
        }
    }

    .footer {
        background-color: rgba(42, 55, 79, 0.7);

        .content {
            div {
                width: 100%;
                padding: 0.2rem;
    
                &:first-child {
                    order: 3;
                }
    
                &:last-child {
                    order: 4;
                }

                &:not(:last-child) {
                    padding-top: 0.55rem;
                }
            }
        }
    } 
}
