body {
  font-family: "KC Obra Letra", "Tagesschrift", sans-serif;
  background-color: #2a374f;
  background-image: url(../images/personagens.png);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: multiply;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  text-align: center;
  
  .header-image {
    background-color: #00001a;
    height: 6rem;
    width: 6rem;
  }

  .image {
    padding-top: 3rem;
    width: 40%;
  }
}

h1 {
  text-align: center;
  color: #c9a66b;
  font-size: 3rem;
  margin: 4rem;
}
