@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .header {
        h1 {
            margin: 1.5rem
        }

        .image {
           width: 80%
       }
    }

    .card {
        width: 30%;
    }

    .footer .content {
        div {
            width: 50%;
            padding-top: 0.2rem;

            &:first-child {
                order: 3;
            }

            &:last-child {
                order: 4;
            }

            .icon {
                width: 4%;
            }
        }
    }
}