@media only screen and (min-width: 481px) and (max-width: 1200px) {
    .header {
        h1 {
            margin: 1.5rem
        }

        .image {
           width: 80%
       }
    }

    .section-one {
        .banner-section {
            row-gap: 1.5rem;
            width: 90%;
        }

        .banner-column {
            width: 100%;
            justify-content: center;

            #liga-pokemon {
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin-left: -0.5rem;

                div {
                    font-size: 1.4rem;
                    top: 15%;
                    left: 35%;
                }

                img {
                    width: 60%
                }
            }

            .banner-link-loja-row {
                width: 100%;
            }

            #pokebola-section {
                width: 85%;

                .pokebola-row {
                    padding: 1rem 0rem 0.5rem 0rem;

                    img {
                        width: 4vw;
                        object-fit: cover;
                    }
                }
            }
        }

        #banner-cards {
            margin-left: -20rem;

            img.banner-image-cards {
                width: calc(120px + 24px);
                height: calc(180px + 36px);

                &:nth-child(1) {
                    left: 0%;
                    top: 0%;
                }
            
                &:nth-child(2) {
                    left: 80%;
                    top: -5%;
                }

                &:nth-child(3) {
                    left: 150%;
                    top: -5%;
                }
            
                &:nth-child(4) {
                    left: 230%;
                    top: 0%;
                }

            }

            img.logo {
                top: 75%;
                left: 200%;
            }    
        }
    }

    .card {
        width: 35%;
        min-width: 324px;
    }

    .contato {
        .maps-section {
            width: 45%;
        }
    }

    .footer .content {
        div {
            width: 50%;
            padding-top: 0.2rem;

            &:first-child {
                order: 3;
            }

            &:last-child {
                order: 4;
            }

            .icon {
                width: 4%;
            }
        }
    }
}