<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ css }}">
</head>
<body class="fade-in">
  <header>
    <h1>{{ title }}</h1>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>&copy; 2025 - Site feito com 11ty</p>
  </footer>
  <script src="assets/animar.js"></script>
</body>
</html>