<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="assets/images/favicon-fr.jpg" type="image/x-icon">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap" rel="stylesheet">
  <link rel="preload" href="assets/fonts/KCObraLetraRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="assets/fonts/KCObraLetraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="assets/css/index.css">
</head>
<body class="fade-in">
  {% include "section.firefly.njk" %}
  {% include "section.header.njk" %}
  {% include "section.section-one.njk" %}
  {% include "section.section-two.njk" %}
  {% include "section.section-three.njk" %}
  {% include "section.footer.njk" %}
  <script src="assets/js/countdown.js"></script>
  <script async src="https://instagram.com/embed.js"></script>
</body>
</html>